<template>
	<div>
		<div class="level is-flex">
			<div class="level-left mr-2" :style="(roName == true ? '' : 'visibility: hidden')">
				<div class="level-item buttons">
					<router-link to="/" class="button is-light">
						<span class="icon is-small"><i class="ri-arrow-left-line" /></span>
					</router-link>
				</div>
			</div>
			<input
				ref="title" v-model="deck.name"
				class="has-text-weight-bold mr-2" :class="{'is-size-4': roName, 'input': !roName}"
				:style="'flex: 1; min-width: 2em;' + (roName ? ' border: none;' : '')" :readonly="roName"
				@keydown.enter="saveName">
			<div v-if="roName == false" class="level-right buttons">
				<!-- edit buttons -->
				<button
					type="button" class="button is-success" style="min-width: 7rem;"
					@click="saveName">
					<span class="icon is-small"><i class="ri-check-line" />&nbsp;Speichern</span>
				</button>
				<button
					type="button" class="button is-danger" style="min-width: 8rem;"
					@click="load">
					<span class="icon is-small"><i class="ri-close-line" />&nbsp;Abbrechen</span>
				</button>
				<button
					type="button" class="button is-danger" style="min-width: 9rem;"
					@click="deleteDeck">
					<span class="icon is-small"><i class="ri-delete-bin-line" />&nbsp;Deck löschen</span>
				</button>
			</div>
			<div v-else class="level-right buttons">
				<!-- deck buttons -->
				<label class="checkbox button is-white">
					<input v-model="showAllAnswers" type="checkbox">
					Antworten anzeigen
				</label>
				<button
					type="button" title="Fragenkatalog bearbeiten" class="button is-light"
					@click="roName = false; $refs.title.focus()">
					<span class="icon is-small"><i class="ri-pencil-line" /></span>
				</button>
				<router-link :to="'/' + encodeURIComponent(this.$route.params.deck) + '/' + nanoid()" class="button is-success">
					Neue Karte anlegen
				</router-link>
				<router-link :to="'/' + encodeURIComponent($route.params.deck) + '/test'" class="button is-info">
					Abfrage starten
				</router-link>
			</div>
		</div>

		<div v-for="category in Object.keys(categories).sort(alphanumSort)" :key="category" class="mb-6">
			<article v-if="categories.length > 1 || category !== ''" class="message is-primary mb-2">
				<div class="message-body level">
					<div class="level-left">
						<strong>{{ category || "Nicht kategorisiert" }}</strong>
					</div>

					<div class="level-right buttons">
						<router-link :to="'/' + encodeURIComponent($route.params.deck) + '/test?category=' + encodeURIComponent(category)" class="button is-info">
							Kategorie abfragen
						</router-link>
					</div>
				</div>
			</article>

			<article v-for="item in categories[category]" :key="item.id" class="message mb-2">
				<div class="message-body">
					<div class="columns">
						<div class="column">
							<div class="content" v-html="md(item.question)" />
						</div>
						<div class="column">
							<strong>
								Antwort
								(<span class="has-text-success"><i class="ri-check-fill icon-offset" />{{ item.correct }}</span>
								/<span class="has-text-danger"><i class="ri-close-fill icon-offset" />{{ item.wrong }}</span>):
							</strong>
							<a
								v-if="!showAllAnswers" tabindex="0" class="has-text-link"
								@click="toggleAnswer(item.id)">{{ visibleAnswers[item.id] ? "verbergen" : "anzeigen" }}</a>

							<div v-if="showAllAnswers || visibleAnswers[item.id]" class="content" v-html="md(item.answer)" />
						</div>
						<div class="py-1 buttons has-addons" style="align-self: flex-start;">
							<router-link :to="'/' + encodeURIComponent($route.params.deck) + '/' + item.id" class="button" tabindex="0">
								<span class="icon is-small">
									<i class="ri-edit-fill" />
								</span>
							</router-link>
						</div>
					</div>
				</div>
			</article>
		</div>

		<div v-if="deck.questions.length < 1" class="has-text-centered">
			<strong>Dieser Fragenkatalog enthält keine Karten.</strong><br><br>
			<div class="buttons" style="justify-content: center">
				<router-link :to="'/' + encodeURIComponent(this.$route.params.deck) + '/' + nanoid()" class="button is-success">
					Neue Karte anlegen
				</router-link>
				<!--<button class="button is-danger" type="button" @click="remove">
					Fragenkatalog löschen
				</button>-->
			</div>
		</div>
	</div>
</template>

<script>
import md from "../markdown";

import { nanoid } from "nanoid/index.browser";

export default {
	data() {
		this.$nextTick(this.load);
		return {
			deck: {
				name: "",
				questions: []
			},
			categories: [],
			visibleAnswers: {},
			showAllAnswers: false,
			roName: true
		};
	},
	methods: {
		nanoid: () => nanoid(11),
		md,
		toggleAnswer(id) {
			this.visibleAnswers[id] = !this.visibleAnswers[id];
			this.$forceUpdate();
		},
		alphanumSort(a, b) {
			return ((a.match(/^(\d+)([.)\s]|$)/)||[])[1] - (b.match(/^(\d+)([.)\s]|$)/)||[])[1]) ||
				a.localeCompare(b);
		},
		async load() {
			this.roName = true;
			let r = await fetch("/api/decks/" + encodeURIComponent(this.$route.params.deck), {credentials: "include"});
			console.log("ok");
			this.deck = await r.json();
			this.categories = {};
			for (let question of this.deck.questions) {
				if (this.categories[question.category]) {
					this.categories[question.category].push(question);
				} else {
					this.categories[question.category] = [question];
				}
			}
		},
		async remove() {
			let r = await fetch("/api/decks/" + encodeURIComponent(this.$route.params.deck), {credentials: "include", method: "DELETE"});
			if (r.ok) {
				this.$router.push("/");
			}
		},
		async deleteDeck() {
			if (window.confirm("Willst du " + this.deck.name + " wirklich löschen?")){
				let r = await fetch("/api/decks/" + encodeURIComponent(this.$route.params.deck), {credentials: "include", method: "DELETE"});
				if (r.ok) {
					this.$router.push("/");
				}
			}
		},
		async saveName() {
			if (this.roName) return;
			this.roName = true;
			let r = await fetch("/api/decks/" + encodeURIComponent(this.$route.params.deck), {
				credentials: "include",
				method: "PUT",
				body: JSON.stringify(this.deck),
				headers: {
					"Content-Type": "application/json",
				},
			});
			if (!r.ok) {
				console.log(r.error());
			}
		}
	},
};
</script>
