<template>
	<div>
		<div class="level is-flex">
			<h2 class="has-text-weight-bold is-size-4">
				Deine Fragenkataloge
			</h2>
			<div class="level-right buttons ml-2">
				<a class="button is-success" @click="showCreateRow">Neuen Fragenkatalog anlegen</a>
			</div>
		</div>

		<article v-for="item in list" :key="item.id" class="message">
			<div class="message-body">
				<div class="level">
					<router-link :to="'/' + item.id" class="has-text-link title is-5">
						{{ item.name || "Fragenkatalog " + item.id }}
					</router-link>
					<p v-if="item.description">
						{{ item.description }}
					</p>
				</div>
			</div>
		</article>

		<article v-if="isCreateRowVisible" class="message">
			<div class="message-body level is-flex">
				<div class="field has-addons mb-0" style="flex-grow: 1">
					<p class="control has-icons-left" style="flex-grow: 1">
						<input
							ref="createAutofocus" v-model="createName" class="input"
							type="text" placeholder="Name" @keydown.enter="create">
						<span class="icon is-small is-left">
							<i class="ri-add-fill" />
						</span>
					</p>
					<div class="control" style="flex: none">
						<button class="button is-success" @click="create">
							Erstellen
						</button>
					</div>
				</div>
				<button class="delete ml-3" aria-label="delete" @click="isCreateRowVisible = false" />
			</div>
		</article>
	</div>
</template>

<script>
import { nanoid } from "nanoid/index.browser";

export default {
	data() {
		this.$nextTick(this.load);
		return {
			list: [],
			createName: "",
			isCreateRowVisible: false,
		};
	},
	methods: {
		nanoid: () => nanoid(11),
		async load() {
			let r = await fetch("/api/decks", {credentials: "include"});
			this.list = await r.json();
		},
		showCreateRow() {
			this.isCreateRowVisible = true;
			this.createName = "";
			this.$nextTick(() => {
				this.$refs.createAutofocus.scrollIntoView();
				this.$refs.createAutofocus.focus();
			});
		},
		async create() {
			let deckID = this.nanoid();
			let r = await fetch("/api/decks/" + encodeURIComponent(deckID), {
				credentials: "include",
				body: JSON.stringify({ name: this.createName }),
				method: "PUT",
				headers: {
					"Content-Type": "application/json",
				},
			});
			if (r.ok) this.$router.push("/" + deckID);
			else this.err = r.status + " - " + r.statusText;
		},
	},
};
</script>
