<template>
	<div>
		<div class="level is-flex">
			<div class="level-left mr-2">
				<div class="level-item buttons">
					<router-link :to="'/' + encodeURIComponent(this.$route.params.deck)" class="button is-light" tabindex="0">
						<span class="icon is-small"><i class="ri-arrow-left-line" /></span>
					</router-link>
				</div>
			</div>
			<h2 class="has-text-weight-bold is-size-4 mr-2" style="flex: 1">
				Frageneditor
			</h2>
			<div class="level-right buttons">
				<a class="button is-success" tabindex="0" @click="save(true)">Speichern & weitere erstellen</a>
				<a class="button is-info" tabindex="0" @click="save(false)">Speichern</a>
			</div>
		</div>

		<article v-show="res" class="message is-success">
			<div class="message-body">
				<p class="content">
					{{ res }}
				</p>
			</div>
		</article>

		<article v-show="err" class="message is-danger">
			<div class="message-body">
				<p class="content">
					{{ err }}
				</p>
			</div>
		</article>

		<div class="columns">
			<div class="column">
				<article class="message">
					<div class="message-header">
						<p>Frage</p>
					</div>
					<div class="message-body">
						<div class="field">
							<label class="label">Kategorie:</label>
							<div class="control">
								<div class="select mb-1" style="width: 100%">
									<select v-model="card.category" style="width: 100%">
										<option value="">
											(keine Kategorie)
										</option>
										<option v-for="option in availableCategories" :key="option">
											{{ option }}
										</option>
										<option value=" ">
											(neue Kategorie erstellen)
										</option>
									</select>
								</div>
								<input
									v-if="card.category === ' '" v-model="newCategory" class="input"
									type="text" placeholder="Name der neuen Kategorie">
							</div>
						</div>
						<div class="field">
							<label class="label">Fragetext:</label>
							<div class="control">
								<textarea
									ref="question" v-model="card.question" class="textarea"
									@paste="paste($event)" @drop="paste($event)" @dragover="$event.preventDefault()" />
							</div>
							<p class="help">
								Zur Formatierung kann Markdown verwendet werden, Bilder können mit Strg+V oder per Drag & Drop eingefügt werden.
							</p>
						</div>
						<div class="field">
							<label class="label">Vorschau:</label>
							<div class="content" v-html="md(card.question)" />
						</div>
					</div>
				</article>
			</div>

			<div class="column">
				<article class="message">
					<div class="message-header">
						<p>Antwort</p>
					</div>
					<div class="message-body">
						<div class="field">
							<label class="label">Antworttext:</label>
							<div class="control">
								<textarea
									v-model="card.answer" class="textarea" @paste="paste($event)"
									@drop="paste($event)" @dragover="$event.preventDefault()" />
							</div>
							<p class="help">
								Zur Formatierung kann Markdown verwendet werden, Bilder können mit Strg+V oder per Drag & Drop eingefügt werden.
							</p>
						</div>
						<div class="field">
							<label class="label">Vorschau:</label>
							<div class="content" v-html="md(card.answer)" />
						</div>
					</div>
				</article>
			</div>
		</div>
	</div>
</template>

<script>
import md from "../markdown";
import { nanoid } from "nanoid/index.browser";

export default {
	data() {
		this.$nextTick(this.load);
		return {
			card: {
				question: "",
				answer: "",
				category: "",
			},
			newCategory: "",
			availableCategories: ["Test"],
			uploads: {},
			res: "", err: null,
		};
	},
	watch: {
		$route(to, from) {
			if (to !== from) this.load();
		}
	},
	methods: {
		md,
		async load() {
			let r = await fetch("/api/decks/" + encodeURIComponent(this.$route.params.deck), {credentials: "include"});
			const deck = await r.json();
			this.availableCategories = deck.questions.reduce((p,c) =>
				typeof c.category === "string" && c.category.trim() !== "" && p.indexOf(c.category) < 0 ?
					p.concat([c.category]) :
					p,
			[]);
			const card = deck.questions.filter(x => x.id === this.$route.params.card)[0] || {};
			this.card.question = card.question || "";
			this.card.answer = card.answer || "";
			this.card.category = card.category || (this.card.category === " " ? this.newCategory : this.card.category) || "";
			this.newCategory = "";
			this.$nextTick(() => this.$refs.question && this.$refs.question.focus());
		},
		async save(createNext) {
			this.res = this.err = "";

			// Upload attachments
			for (const url in this.uploads) {
				if (this.card.question.indexOf(url) < 0 && this.card.answer.indexOf(url) < 0) continue;

				const form = new FormData();
				form.append("upload", this.uploads[url]);
				const r = await fetch("/api/attachments", {
					method: "POST",
					body: form
				});
				if (!r.ok && !confirm("Konnte ein Bild nicht hochladen, trotzdem fortfahren?")) return;

				const name = (await r.json()).name;
				this.card.question = this.card.question.replaceAll(url, "/api/attachments/" + name);
				this.card.answer = this.card.answer.replaceAll(url, "/api/attachments/" + name);
			}

			// Save card
			let r = await fetch("/api/decks/" + encodeURIComponent(this.$route.params.deck) + "/cards/" + encodeURIComponent(this.$route.params.card), {
				method: "PUT",
				credentials: "include",
				headers: {
					"Content-Type": "application/json",
				},
				body: JSON.stringify({
					"question": this.card.question,
					"answer": this.card.answer,
					"category": this.card.category === " " ? this.newCategory.trim() : this.card.category,
				}),
			});
			if (r.ok){
				this.res = await r.text();
				if (createNext) {
					this.$router.push("/" + encodeURIComponent(this.$route.params.deck) + "/" + nanoid(11));
				} else {
					this.$router.push("/" + encodeURIComponent(this.$route.params.deck));
				}
			}
			else this.err = r.status + " - " + r.statusText;
		},
		async paste(event) {
			//event = new DragEvent();
			// event.type == "drop" || event.type == "paste"

			const data = event.dataTransfer || event.clipboardData;
			if (!data) return;

			const files = data.files;
			if (!files || !files.length) return;

			event.preventDefault();
			let pastedText = "";
			const selectionStart = event.target.selectionStart;

			for (let file of files) {
				if (!file.type.startsWith("image/") || file.size > 5 * 1024 * 1024) {
					return alert("Nur Bilddateien bis zu einer Größe von 5 MiB werden unterstützt!");
				}

				const url = URL.createObjectURL(file);
				this.uploads[url] = file;

				pastedText += "![](" + url + ")";
			}
			event.target.value = event.target.value.substr(0, event.target.selectionStart) + pastedText + event.target.value.substr(event.target.selectionEnd);
			event.target.selectionStart = event.target.selectionEnd = selectionStart + pastedText.length;
			event.target.dispatchEvent(new InputEvent("input"));
		}
	}
};
</script>
