<template>
	<section class="section has-text-centered" style="width: 30rem">
		<h4 class="title is-4">
			Mit E-Mail-Adresse einloggen
		</h4>
		<form class="field has-addons" onsubmit="return false" @submit="login">
			<div class="control" style="flex: 1">
				<input
					id="email" v-model="email" class="input"
					type="text" placeholder="mail@example.org" autofocus
					:disabled="loading">
			</div>
			<div class="control">
				<button
					type="submit" class="button is-info" :class="{'is-loading': loading && (!response || !response.success)}"
					:disabled="loading">
					Anmelden
				</button>
			</div>
		</form>

		<div v-if="response && !response.success" class="notification is-danger mb-3 px-3 py-3">
			{{ response.error || "an error occured" }}
		</div>
		<div v-if="response && response.success" class="notification is-success mb-3 px-3 py-3">
			Eine Bestätigungs-Mail mit einem Link wurde an die angegebene E-Mail-Adresse versandt.
		</div>

		<div v-if="anonymous">
			<div class="notification is-warning mb-3 px-3 py-3">
				Achtung: wenn du bei anonymen Accounts deinen Account-Schlüssel verlierst, kannst du keinen Zugriff mehr auf
				deine Daten erhalten! <a @click="copy">Schlüssel kopieren</a>
			</div>
			<a :disabled="loading" @click="email = loading ? email : ''">E-Mail verwenden</a>
		</div>
		<a v-else :disabled="loading" @click="email = loading ? email : randomKey() + '@invalid'">Anonym registrieren</a>
	</section>
</template>

<style>
  a[disabled] { opacity: 0.6; pointer-events: none; }
</style>

<script>
export default {
	data() {
		return {
			email: "",
			response: null,
			loading: false,
		};
	},
	computed: {
		anonymous() {
			return this.email.trim().toLowerCase().endsWith("@invalid");
		},
	},
	watch: {
		email() {
			this.response = null;
		},
	},
	methods: {
		async login() {
			if (this.loading) return;
			this.loading = true;
			try {
				let r = await fetch("/api/authorize", {
					method: "POST",
					redirect: "follow",
					body: JSON.stringify({
						email: this.email,
					})
				});
				if (r.redirected) {
					setTimeout(() => this.$parent.updateAuthentication(), 200);
					return;
				}
				this.response = {success: r.ok, error: await r.text()};
				setTimeout(() => this.loading = this.response.success, 300);
			} catch (error) {
				this.response = {success: false, error: (this.response || {error}).error};
				setTimeout(() => this.loading = false, 300);
			}
		},
		randomKey() {
			let a = new Uint8Array(12);
			crypto.getRandomValues(a);
			return a.reduce((str, byte) => str + byte.toString(36), "");
		},
		copy() {
			let text = document.getElementById("email");
			text.select();
			text.setSelectionRange(0, 99999);
			document.execCommand("copy");
		}
	},
};
</script>
