<template>
	<div>
		<div class="level">
			<div class="level-left mr-2">
				<div class="level-item buttons">
					<router-link :to="'/' + encodeURIComponent(this.$route.params.deck)" class="button is-light">
						<span class="icon is-small"><i class="ri-arrow-left-line" /></span>
					</router-link>
				</div>
			</div>
			<h2 class="has-text-weight-bold is-size-4" style="flex: 1">
				Laufende Abfrage
			</h2>
		</div>

		<article class="message">
			<div class="message-header">
				<p>Frage</p>
			</div>
			<div class="message-body">
				<strong class="is-pulled-right ml-2">
					<span class="has-text-success"><i class="ri-check-fill icon-offset" />{{ question.correct }}</span>
					/<span class="has-text-danger"><i class="ri-close-fill icon-offset" />{{ question.wrong }}</span>
				</strong>
				<div v-if="question.question" class="content" v-html="md(question.question)" />
			</div>
		</article>

		<article class="message">
			<div class="message-header">
				<p>Antwort</p>
			</div>
			<div v-if="!answered" class="message-body">
				<div class="field">
					<div class="control">
						<textarea v-model="answer" class="textarea" />
					</div>
				</div>
				<div class="field">
					<div class="control">
						<a class="button is-info" @click="answered = true">Antwort abgeben</a>
					</div>
				</div>
			</div>
			<div v-else class="message-body">
				<div class="field">
					{{ answer }}
				</div>
			</div>
		</article>

		<article v-show="answered" class="message">
			<div class="message-header">
				<p>Hinterlegte Antwort</p>
			</div>
			<div class="message-body">
				<div class="field">
					<div v-if="question.answer" class="content" v-html="md(question.answer)" />
				</div>
			</div>
		</article>

		<article v-show="answered" class="level">
			<div class="control level-left">
				<button class="button is-link is-danger" @click="saveAnswer(false)">
					Falsch
				</button>
			</div>
			<div class="control level-right">
				<button class="button is-success" @click="saveAnswer(true)">
					Richtig
				</button>
			</div>
		</article>
	</div>
</template>

<script>
import md from "../markdown";

export default {
	data() {
		this.$nextTick(this.load);
		return {
			question: {},
			answered: false,
			answer: ""
		};
	},
	computed: {
		categoryQuery() {
			const query = (window.location.search.match(/(?:^\?|&)(category=[^&]*)/)||["",""])[1];
			return query ? "?" + query : "";
		}
	},
	methods: {
		md,
		async load() {
			this.answered = false;
			this.answer = "";
			let r = await fetch("/api/decks/" + encodeURIComponent(this.$route.params.deck) + "/next-card" + this.categoryQuery, {credentials: "include"});
			this.question = await r.json();
		},
		async saveAnswer(correct) {
			await fetch("/api/decks/" + encodeURIComponent(this.$route.params.deck) + "/next-card" + this.categoryQuery, {
				method: "POST",
				credentials: "include",
				headers: {
					"Content-Type": "application/json",
				},
				body: JSON.stringify({
					questionID: this.question.id,
					correct: correct,
				}),
			});
			// TODO: error handling
			await this.load();
		},
	}
};
</script>
