<template>
	<div v-if="!loading" class="body">
		<section class="section">
			<h1 class="title is-1 has-text-centered" style="margin-top:1rem;">
				Vocab
			</h1>
			<router-view class="container" />
		</section>
		<hr v-if="email">
		<div v-if="email" class="container has-text-centered mb-5">
			Du bist angemeldet als <code>{{ email }}</code> (<a @click="logout">Abmelden</a>)
		</div>
	</div>
	<div v-else class="body is-flex px-6 py-6" style="justify-content: center; align-items: center; height: 100vh;">
		<div class="loader" style="width: 3em; height: 3em;" />
	</div>
</template>

<style>
	.icon-offset { position: relative; top: 0.2em; }
</style>

<script>
import "bulma/css/bulma.css";
import "remixicon/fonts/remixicon.css";
import Vue from "vue";
import VueRouter from "vue-router";
import Login from "./components/Login.vue";
import Decks from "./components/Decks.vue";
import Cards from "./components/Cards.vue";
import Editor from "./components/Editor.vue";
import Test from "./components/Test.vue";

Vue.use(VueRouter);

const router = new VueRouter({
	mode: "history",
	routes: [
		{path: "/login", component: Login},
		{path: "/", component: Decks},
		{path: "/new", component: Cards},
		{path: "/:deck", component: Cards},
		{path: "/:deck/test", component: Test},
		{path: "/:deck/new", component: Editor},
		{path: "/:deck/:card", component: Editor},
	],
});

export default {
	router,
	data() {
		this.$nextTick(this.updateAuthentication);
		return {
			email: null,
			loading: false,
		};
	},
	methods: {
		async logout() {
			await fetch("/api/authorize", {method: "DELETE", credentials: "include"});
			// TODO: error handling!
			this.email = null;
			router.push("/login");
		},

		async updateAuthentication() {
			this.email = null;
			this.loading = true;
			try {
				let r = await fetch("/api/authorize", {credentials: "include"});
				const body = r.headers.get("content-type").match(/application\/json\b/) ? await r.json() : await r.text();
				console.log(body);
				if (r.ok && body.email) {
					if (router.currentRoute.path === "/login") await router.replace("/");
					this.email = body.email;
					this.loading = false;
					return;
				} else if (r.status === 429) {
					setTimeout(() => this.updateAuthentication(), 11*1000);
					return;
				}
			} catch (err) {
				console.error(err);
			}
			if (router.currentRoute.path !== "/login") await router.push("/login");
			this.loading = false;
		},
	},
};
</script>
